<div id="wrapper">
  <div id="pannel-central">
    <div id="entete">
      <h2>Déclarez votre situation mensuelle</h2>
    </div>
    <div id="layout">
      <div class="parallel-bloc">
        <div id="premierBloc">
          <p id="note-formulaire">Tous les champs sont obligatoires.</p>
          <div class="parallel-unit">
            <div class="group-set">
              <div class="groupeText">
                <p>Actualiser votre situation tous les mois permet :</p>
                <ul>
                  <li>La mise à jour de votre situation</li>
                  <li>De rester inscrit</li>
                  <li>Le paiement de vos allocations si vous en avez</li>
                </ul>

                <p><b>Vous devez répondre à toutes les questions posées et valider le message final qui confirmera
                    l’enregistrement de votre déclaration.</b></p>

                <p>Par cette action, vous autorisez Pôle Emploi à conserver votre déclaration sur un support
                  informatique,
                  sous
                  réserve qu'une copie fidèle et durable soit produite en cas de besoin.</p>

                <p><b>Attention, toute fausse déclaration vous expose à des sanctions</b> (radiation de la liste de
                  demandeurs
                  d’emploi, suppression d’une partie ou de la totalité de votre allocation, pénalités administrative,
                  etc.).</p>

                <h3 ng-app>Au {{date | date:'dd/MM/yyyy'}}</h3>
              </div>
              <div class="groupeSaisie">
                <form [formGroup]="actuaForm" (ngSubmit)="onSubmit()">
                  <div class="label">
                    <span class="error-msg" *ngIf="isFormSubmitted && actuaForm.controls['formation'].errors">
                      <p>Champs invalide (Lien d'aide en bas de page)</p>
                      <p>Veuillez relire l'énoncé</p>
                    </span>
                    <span>Etes-vous inscrit à une session de formation<br>
                      ou suivez-vous une formation ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of formationOption">
                      <label>
                        <input type="radio" formControlName="formation" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                </form>
              </div>
            </div>
          </div>
          <div class="valider">
            <button type="reset">Abandonner</button>
            <button type="submit">Valider</button>
          </div>
        </div>
        <div id="secondBloc">
          <div class="parallel-unit">
            <div class="noheto">
              <div class="centrageImage">
                <div class="centrageTexte">
                  <h4 class="picto">
                    <img title alt src="../../assets/picto-information3137123175955441002.png">
                    <span>Information</span>
                  </h4>
                  Afin de faciliter votre actualisation, vous pouvez vous munir des informations ou documents utiles à
                    votre déclaration :
                  <ul>
                    <li>Bulletin de salaire</li>
                    <li>Attestation employeur</li>
                    <li>Justificatif de formation</li>
                    <li>Notification de pension ...</li>
                  </ul>
                  <p>Dès la fin de votre actualisation, vous pourrez transmettre ces documents depuis votre espace
                    personnel.</p>
                  <a href="http://plml.fr/c/Ux33z" target="_blank">En savoir plus sur les changements de situations à
                    déclarer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
