<div id="wrapper">
  <div id="pannel-central">
    <div id="entete">
      <h2>Déclarez votre situation mensuelle</h2>
    </div>
    <div id="layout">

      <div class="parallel-bloc">
        <div id="premierBloc">
          <p id="note-formulaire">Tous les champs sont obligatoires.</p>
          <div class="parallel-unit">
            <form [formGroup]="actuaForm" (ngSubmit)="onSubmit()">
              <div class="group-set">
                <div class="groupeText">
                  <h3>Au {{date | date:'dd/MM/yyyy'}}</h3>
                </div>

                <!-- Section travail -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Avez-vous travaillé ou exercé une activité non salariée ?<br>
                      (créateur ou repreneur d’entreprise, entrepreneur...)</span>
                  </div>
                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="travail" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Heures travaillées dans le mois</span>
                    <input aria-required="true" type="text" name="txtTravail">
                    <span>heures</span>
                    <span>Montant total de votre ou vos salaires bruts <b>réels ou estimés</b></span>
                    <input type="text">
                    <span>€</span>
                  </div>
                </div>

                <!-- Section stage -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Avous-vous été en stage ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="stage" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Du</span>
                    <input type="text" name="txtTravail">
                    <span>Au</span>
                    <input type="text">
                  </div>
                </div>

                <!-- Section arrêt maladie -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Avez-vous été en arrêt maladie ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="arretMaladie" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Du</span>
                    <input type="text" name="txtTravail">
                    <span>Au</span>
                    <input type="text">
                  </div>
                </div>

                <!-- Section pension retraite -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Percevez-vous une nouvelle pension retraite ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="pensionRetraite" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Depuis le </span>
                    <input type="text">
                  </div>
                </div>

                <!-- Section penstion d'invalidité -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Percevez-vous une nouvelle pension
                      d'invalidité de 2ème ou 3ème catégorie ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="pensionInvalidite" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Depuis le </span>
                    <input type="text">
                  </div>
                </div>

                <!-- Section recherche d'emploi -->
                <div class="sousGroupe">
                  <div class="label">
                    <span>Etes-vous toujours à la recherche d'un emploi ?</span>
                  </div>

                  <div class="radio-group">
                    <div class="radio" *ngFor="let option of listOption">
                      <label>
                        <input type="radio" formControlName="rechercheEmploi" [value]="option.key"
                          [checked]="option.checked">{{ option.label }}
                      </label>
                    </div>
                  </div>
                  <span class="stop"></span>
                  <div *ngIf='visibiltyCas'>
                    <span>Vous n'êtes plus à la recherche d'un emploi depuis le</span>
                    <input type="text">
                    <div class="radio" *ngFor="let option of optionRecherche">
                      <label>
                        <input type="radio" formControlName="rechercheEmploi" [value]="option.key">
                        {{ option.label }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="validation">
                <ul>
                  <li><button type="reset">Abandonner</button></li>
                  <li>
                    <span class="btnValiderFond">
                      <button type="submit" class="btnValider">Valider</button>
                    </span>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer style="text-align: center; margin-bottom: 20px;">
  <hr>
  Autres aides ....
</footer>
